body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.parsegraph_Window,
.parsegraph_Surface {
  width: 100%;
  height: 100vh;
  margin: 0;
}

div {
  text-align: center;
  width: fit-content;
}

.controls {
  margin: auto;
  position: absolute;
  pointer-events: none;
  width: 100%;
}

.controls > form button {
  pointer-events: auto;
}

@media only screen and (max-width: 980px) {
  .controls {
    display: none;
  }

  body > div {
    width: 100%;
  }

  body > div input {
    clear: left;
  }
}
